*{
    margin: 0;
    padding: 0;
    
}

.container{
    
    max-width: 1224px !important;
    width: 90% !important;
    margin: auto !important;
    padding: 40px 0px !important;

}
.photo-gallery{
    display: flex !important;
    gap: 20px !important;
}
.colmun{
    display: flex !important;
    flex-direction: column !important;
    gap: 20px !important;
}
.photo img{
    position: relative;
    width: 100% !important;
    height: 100% !important;
    border-radius: 5px !important;
    object-fit: cover !important;
}
@media(max-width:768px){
    .photo-gallery{
        flex-direction: column;
    }
}
.sign-up{
    width: 400px;
    height: 250px;
}
.btn-size{
    width: 160px;
}
.photo img {
    transition: transform 0.3s ease-in-out;
}

.photo img:hover {
    transform: scale(1.05);
}
.navbar{
    height: 80px !important;
}
.carousel-caption{
    top: 200px !important;
    bottom: auto !important;
}
.f-size{
    font-size: 80px;
}
.img-hover img{
    transition: transform 0.3s ease-in-out;
}
.img-hover img:hover { 
    transform: scale(1.05);
    
}
.brand-card{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;   
    width: 100%;
    height: 600px;
    background-color: rgba(177, 175, 175, 0.242);
    
    
    
}
.brand-card img{
    transition: transform 0.3s ease-in-out
}
.brand-card img:hover{
    transform: scale(1.05);
}
.hv img{
    transition: transform 0.3s ease-in-out;
}
.hv img:hover{
    transform: scale(1.05);
}
.image-card{
    display: flex;
    flex-wrap: wrap;
}